.contentSpinner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vw;
    width: 100vw;
}

.spinner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(var(--color-primary) 35%, var(--color-secondary));
    width: 100px;
    height: 100px;
    animation: spinning 1s linear infinite;
    border-radius: 50px;
    filter: blur(1px);
    box-shadow: 0px -5px 20px 0px var(--color-secondary), 0px 5px 20px 0px var(--color-primary);
}

.spinner1 {
    background-color: var(--color-bg);
    width: 100px;
    height: 100px;
    border-radius: 50px;
    filter: blur(10px);
}

@keyframes spinning {
    to {
        transform: rotate(360deg);
    }
}