.container {
    display: flex;
    position: relative;
    width: 100%;
    min-width: 400px;
    justify-content: center;
}

.container input {
    width: 90vw;
    padding: 10px;
    border: 2px solid var(--color-gray);
    background: var(--color-bg);
    border-radius: 10px;
    outline: none;
    color: var(--color-white);
    font-size: .8rem;
    font-weight: 500;
    transition: 0.7s ease-in-out;
}

.container label {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1rem;
    color: transparent;
    text-transform: uppercase;
    transition: 0.5s;
}

.container input:valid~label,
.container input:focus~label {
    color: var(--color-white);
    transform: translateX(10px) translateY(-7px);
    font-size: 0.70rem;
    padding: 0 6px;
    background: var(--color-bg);
    border-left: 2px solid var(--color-white);
    border-right: 2px solid var(--color-white);
    letter-spacing: 0.15rem;
}

.container input:valid,
.container input:focus {
    border: 2px solid var(--color-white);
}

.error {
    margin-top: 0.2rem;
    padding: 0rem 1rem;
    left: 0;
    position: absolute;
    bottom: -1.1rem;
    z-index: 3;
    color: #c15856;
    font-size: 0.8rem;
    font-weight: 500;
}