.cartDetailActions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* border-top: 1.5px solid var(--color-gray); */
    width: 80vw;
}

.totalContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    margin-top: 10px;
}

.totalText{
    font-size: 1rem;
    font-weight: 400;
}

.totalValue{
    font-size: 1rem;
    font-weight: 600;
}

.cartItemQuantityTotal {
    font-size: 1rem;
}

.cartButttonCheckout {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--color-bg);
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 16px;
    background: var(--color-secondary);
    transition: all .2s ease-in-out;
    box-shadow: 0px 6px 6px 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    margin-top: 20px;
    width: 400px;
}

.cartButttonCheckout:active {
    scale: .99;
    box-shadow: none;
}

.cartButttonCheckout:hover {
    background-color: var(--color-primary);
}