.cartContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    min-width: 400px;
    height: auto;
    gap: 1rem;
    margin: auto;
}
