.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: auto;
}

.contentContainer {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70vw;
    margin: auto;
}

.filterContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerTitleCard {
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    overflow: hidden;
}

.categoriesContainer {
    min-width: 200px;
    max-width: 80vw;
    height: fit-content;
    padding: 1rem;
    border: none;
    transition: all 0.3s ease-in-out;
    color: var(--color-secondary);
}

.categoryName {
    font-weight: bold;
    font-size: 1rem;
    color: var(--color-primary);
    transition: all 0.3s ease-in-out;
}

.categoryName:hover {
    color: var(--color-accent);
}