.contentContainer {
    display:block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 60vw;
}
.title{
    font-size: 1.5rem;
    margin-top: 20px;
}
.subtitle{
    color: var(--color-gray);
    font-size: 1.2rem;
}

.filterContainer {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerTitleCard {
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, 170px);
    justify-content: space-evenly;
    gap: .5rem;
    width: 100%;
}

.categoriesContainer {
    height: fit-content;
    padding-top: .5rem;
    transition: all 0.3s ease-in-out;
    color: var(--color-secondary);
}

.categoryName {
    font-weight: bold;
    font-size: 1rem;
    color: var(--color-primary);
    transition: all 0.3s ease-in-out;
}

.categoryName:hover {
    color: var(--color-accent);
}

@media (max-width: 769px) {
    .contentContainer {
        width: 90vw;
    }


    
}