.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.headerTitleCard {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}


.categoriesContainer {
    min-width: 200px;
    max-width: 80vw;
    height: fit-content;
    padding: 1rem;
    border: none;
    transition: all 0.3s ease-in-out;
    color: var(--color-secondary);
}

.categoryContainer {}


.categoryName {
    font-weight: bold;
    font-size: 1rem;
    color: var(--color-primary);
}

.categoryName:hover {
    color: var(--color-accent);
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    overflow: hidden;
}

.cardImageContainer {
    margin: 3px;
    display: flex;
    align-items: center;
}