.successOrderContainer {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.animation {
    width: 40vw;
}

@media (max-width: 769px) {
    .animation {
        width: 80vw;
    }
}