.checkoutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.checkoutTitle {}

.checkoutFormContainer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.checkoutDetailContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2rem;
}

.checkoutCartContainer {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.checkoutFormContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.checkoutFormContent input {
    width: 400px;
    background-color: transparent;
    margin: auto;
}

.checkoutForm {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    border-radius: 18px;
    gap: 20px
}

.cartContainer {
    display: flex;
    flex-direction: column;
}

.checkoutFormInputGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    margin-top: 10px;

}

.buttonCheckout {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--color-bg);
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 16px;
    background: var(--color-secondary);
    transition: all .2s ease-in-out;
    box-shadow: 0px 6px 6px 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    margin-top: 20px;
    width: 400px;
}

.buttonCheckout:disabled {
    background-color: #afafaf;
    color: #e0e0e0;
}

.buttonCheckout:active {
    scale: .99;
    box-shadow: none;
    background-color: var(--color-primary);
}
