.card {
    background-color: var(--color-bg);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    margin: 6px;
    min-width: 160px;
    max-width: 160px;
    height: 250px;
    border-radius: 10px;
    border: 2px solid var(--color-gray);
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, .5);
}

.card:hover {
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 1);
}

.cardTitleContainer {
    padding-left: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction:column;
    align-items: start;
}

.cardTitle {
    font-size: .9rem;
    font-weight: 600;
    color: var(--color-white);
}

.cardMeasure{
    font-size: .7rem;
    font-weight: 400;
    color: var(--color-gray);
    margin: 0;
    padding: 0;
}

.cardImageContainer {
    position: relative;
    display: block;
    max-height: 120px;
    overflow: hidden;
}

.cardImage {
    display: block;
    height: 110px;
    margin: 0 auto;
    object-fit: cover;
}

.cardActionsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardPrice {
    font-weight: 500;
    font-size: .9rem;
    color:var(--color-white);
    margin-top: 10px;
}

.CartBtn {
    width: 90px;
    height: 30px;
    margin-top: 10px;
    border-radius: 20px;
    border: none;
    background-color: var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    position: relative;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, .5);
}

.CartBtn:hover {
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 1);
}

.text {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    z-index: 1;
    letter-spacing: 1px;
    transition-duration: .5s;
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 600;
}



.CartBtn:active {
    transform: scale(0.95);
    transition-duration: .5s;
}