.navBar {
    display: flex;
    background-color: var(--color-dark);
    padding: 12px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 100;
}

/* Burger Menu */

/* .burgerMenu {
    display: flex;
    align-items: center;
    margin-right: 24px;
} */

.burgerMenu {
    display: none;
}


.burger {
    position: absolute;
    width: 20px;
    height: 16px;
    cursor: pointer;
    display: block;
}

.burgerMenu input {
    visibility: hidden;
}

.burger span {
    z-index: 101;
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: var(--color-white);
    border-radius: 18px;
    left: 0;
    transform: rotate(0deg);
    transition: all .3s ease-in-out;
}

.burger span:nth-of-type(1) {
    top: 20%;
    transform-origin: left center;
}


.burger span:nth-of-type(2) {
    top: 80%;
    transform-origin: left center;
    transform: translateY(-100%);
}

#burger:checked~span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 2px;
    left: 2px;
}

#burger:checked~span:nth-of-type(2) {
    transform: rotate(-45deg);
    top: 16px;
    left: 2px;
}

#burger:checked~.navLinks {
    display: flex;
    transform: translateX(0%);
}

.navLinks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    padding: 50px 0px;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-bg);
    z-index: 100;
    transition: cubic-bezier(.4, 0, .6, 1) 400ms;
    transform: translateY(-100%);
}

.navLinks a {
    padding-left: calc(48px + env(safe-area-inset-left));
    padding-right: calc(48px + env(safe-area-inset-right));
    font-size: 1.7rem;
    color: var(--color-white);
    line-height: 1.7;
    font-weight: 600;
    letter-spacing: .007em;
    transition: all .2s ease-in-out;
}

.navLinks a:hover {
    color: var(--color-secondary);
}


.logoContainer {
    width: 80px;
    height: 80px;
}

.logoImage{
    width: 80px;
    height: 80px;
}

.userContainer {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    align-items: center;
    margin-top: auto;
    cursor: pointer;
}

.bagWidget {
    position: relative;
    font-size: 20px;
    color: var(--color-white);
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.bagWidget:hover {
    color: var(--color-gray);
}

.cartCount {
    position: absolute;
    top: 8px;
    left: 9px;
    color: var(--color-white);
    font-size: .6rem;
    font-weight: 400;
    transition: all .2s ease-in-out;
}

.cartCount:hover {
    font-weight: 600;
}

.userAvatar {
    color: var(--color-white);
    transition: all .2s ease-in-out;
}

.userAvatar:hover {
    color: var(--color-gray);
}

.adminAvatar {
    color: var(--color-accent);
    transition: all .2s ease-in-out;
}

.navLinksPc {
    display: none;
}

@media (min-width: 769px) {

    .burgerMenu {
        display: none;
    }

    .navBar {
        display: flex;
        align-items: center;
        margin: auto;
        padding-left: 20vw;
        padding-right: 20vw;
    }

    .navLinksPc {
        display: flex;
        font-size: 12px;
        gap: 2rem;
    }

    .navLinksPc a {
        font-size: .8rem;
        color: var(--color-white);
        transition: all .2s ease-in-out;
    }

    .navLinksPc a:hover {
        color: var(--color-secondary);
        transform: translateY(-2px);
    }

}