.categoryContainer {
    min-width: 100px;
    margin: auto;
    cursor: pointer;
    border-radius: 12px;
    border: 2px solid var(--color-gray);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, .2) 4px 4px 5px;
    transition: all 0.2s ease-in-out;
}

.categoryName {    
    color: var(--color-gray);
    font-weight: 600;
    font-size: .8rem;
    padding: 10px;
    transition: all 0.2s ease-in-out;
}

.categoryContainer:hover{
    border: 2px solid var(--color-white);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, .5) 4px 4px 4px;
}

.categoryName:hover {
    color: var(--color-white);
    scale: 1.04;
}
