.slider {
    overflow: hidden;
    position: relative;
}

.sliderContent {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    overflow-x: hidden;
    scroll-behavior: smooth;
    cursor: pointer;
    padding: 0 3rem;
}

.nextButton,
.previousButton {
    border: none;
    width: 1.2rem;
    height: 2rem;
    position: absolute;
    top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg);
    border-radius: 0.5rem;
    color: var(--color-secondary);
    font-size: 1.5rem;
    transition: .5s ease-in-out;
}

.nextButton {
    right: 0;
}

.nextButton:active,
.previousButton:active,
.nextButton:hover,
.previousButton:hover {
    background-color: var(--color-secondary);
    color: var(--color-bg);
}