.slider {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
    gap: .4rem;
    width: 60vw;
    margin: auto;
}

.sliderContent {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    overflow-x: hidden;
    scroll-behavior: smooth;
    cursor: pointer;
}


.previousButton {
    padding-left: 10px;
}

.nextButton,
.previousButton {
    border: none;
    width: 1.2rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg);
    border-radius: .2rem;
    color: var(--color-secondary);
    font-size: 1.5rem;
    transition: .2s ease-in-out;
}

.nextButton:hover,
.previousButton:hover {
    background-color: var(--color-secondary);
    color: var(--color-bg);
}

.nextButton:active,
.previousButton:active {
    background-color: var(--color-primary);
    scale: .9;
}